@tailwind base;
@tailwind components;
@tailwind utilities;

/* 这里定义基础颜色，让页面不再是惨白的 */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: 214.3 31.8% 91.4%; /* 加上这个，防止 border 报错 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}